name: action pr approve template

on:
  workflow_call:
            
  workflow_dispatch:
    inputs:
      PR_number:
        description: 'Pull request number'
        required: true      
  
  pull_request:

    branches:
      - main
    types: [opened, reopened]
    
jobs:
  init: 
    name: Init process
    env:
      TECH_USER_SECRET: ${{ secrets.TECH_USER_SECRET }}
      TECH_USER: ${{ vars.TECH_USER }}
      URL: 'https://github.com/bw0101'
      ENVIRONMENT: 'dev'
      PR_NUMBER: ${{ github.event.inputs.PR_number }}
    runs-on: ubuntu-latest
    steps:
      - name: Add inputs to Summary
        run: |
          echo "#### env: "
          echo "| Name          | Value | " 
          echo "| _____________ | _____ | "
          echo "| PR_REPO       | ${{ inputs.PR_REPO }}    | "
          echo "| Tech user sec | $TECH_USER_SECRET | "
          echo "| Tech user     | $TECH_USER | "    
          echo "| Tech user var | ${{ vars.TECH_USER }} | " 
          echo "| URL           | $URL | " 
          echo "| ENVIRONMENT   | $ENVIRONMENT | " 
          git --version
          echo " _________________________"

      # ======================================================
      # It's important to check that the PR number 
      # provided as input is valid and belongs to 
      # the repository.
      # 
      # This will also return the PR's branch as an output
      # which can be fetched in next steps via:
      # ${{ steps.verify_pr_number.outputs.result }}
      # ======================================================
      - name: Verify Pull Request Number
        if: github.event_name == 'pull_request' && contains( 'bw0101NOT, $TECH_USER' )
        uses: actions/github-script@v7
        id: verify_pr_number
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          result-encoding: string
          script: |
            const response = await github.rest.pulls.get({
              owner: context.repo.owner,
              repo: context.repo.repo,
              pull_number: ${{ github.event.pull_request.number }}
            });
            
            if (response.data.number !== ${{ github.event.pull_request.number }}) {
              throw new Error('Pull request is not open or number is not valid!');
            } else {
              console.log("PR ref: " + response.data.head.ref);
              return response.data.head.ref;
            }  
  
  auto-approve:
    name: Auto approve of PR 
    if: github.event_name == 'pull_request' && contains( 'bw0101, $TECH_USER', github.actor )
    runs-on: ubuntu-latest
    needs: init
    environment:
      name: $ENVIRONMENT
      url: $URL
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      PR_NUMBER: ${{ github.event.pull_request.number }}
      TECH_USER_SECRET: ${{ secrets.TECH_USER_SECRET }}

    permissions:
      pull-requests: write

    steps:         
      - name: PR approve
        if: ${{ success() }}
        uses: hmarr/auto-approve-action@v4
        with:
          pull-request-number: ${{ github.event.pull_request.number }}
          
    # ======================================================
    # When we're done, we need to update the PR one more time
    # with the results of the apply.
    # ======================================================      
      - name: Update status
        uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const output = `#### Pull-request processed
            > PR #${{ github.event.pull_request.number }} has been processed
            by  ${{ github.actor }}
            > # _____
            ## info
           
            URL: https://github.com/bw0101/bee-actions/pull/${{ github.event.pull_request.number }}`;
  
            github.rest.issues.createComment({
              issue_number: ${{ github.event.pull_request.number }},
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: output
            })
    
    
